<div class="row">
<div class="col-xs-12">
    <h1>Issssssss berger thyme</h1>
    <h3>Suhhh dude and duddetts</h3>
    <img src="https://media0.giphy.com/media/7rp0WSajAOqw8/giphy_s.gif" alt="">
</div>
</div>

<div class="row">
    <div class="col-xs-6">Chowdown</div>
    <div class="col-xs-6">Regurgitate</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>"Make a berger</h1>
    </div>
</div>